@charset "utf-8";
@font-face{
   font-family: "grape";
   src: url(../fonts/GrapeSoda.ttf);
}
/*
    general layout of all pages
*/


  



 html {
    background-image: url(../scenes/bg_bricks.png) ;
 }
 body {
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
     box-shadow: rgba(0, 12, 44, 0.4) 15px 0px 35px,
               rgba(0, 12, 44, 0.4) -15px 0px 35px;
   font-family: "grape";
   
 }

 header {    
    background-color: #8ed3f9;    
 }
 
 header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
 }

 h1 {
   font-size: 3.5em;
   font-family: "grape";
   color: rgb(223, 171, 0);     
 }
h2 {
   font-size: 2em;
   font-family: "grape";
 }

 a{
   display: contents;
   text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 200%;
    color:#099ceb;
    font-size: 35px;
    text-decoration: none;
 }
 a:hover{
   display: contents;
   text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 200%;
    color:#ffc21c;
    font-size: 35px;
    text-decoration: none;
 }
 article, img, h2, h1, a {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 200%;
 }
 
 
 p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5em;
 }
 
 article>p {
   color: rgb(107, 64, 10);
 }
 footer {
    display: block;
    background-color: #8ed3f9;
    margin-top: -25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
 }
 
 article {
   clear: both;
   content: '';
   display: table;
 }
article>img#coin {
   float: right ;
   width: 20%;
}
ul#click{
   list-style-image: url(../scenes/Leftclick_icon.png);
   font-size: 25px;
}

li {
 list-style-position: inside;
}
 
 